<%= form_with(model: user) do |form| %>

  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <p class="fw-bolder"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', 'aria-describedby': 'nameHelp' %>
    <div id="nameHelp" class="form-text text-center">You only need your name to signup/signin, mate.</div>
  </div>

  <div class="actions sign-up-div text-center">
    <%= form.submit 'Sign Up', class: "btn" %>
  </div>
<% end %>