<div class="sticky-top-padding">
  <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <% unless @featured.nil? %>
    <section class="featured">
    <div style="<%= featured_img(@featured.image_url) %>" class="featured-img-height background-img-setting position-relative">
      <div class="featured-item position-absolute">
        <h4 class="featured-heading fw-bolder base-color"><%= @featured.title %></h4>
        <p class="featured-snippet text-white"><%= @featured.text %></p>
      </div>
    </div>
  </section>
  <% end %>

  <section class="row categories">

    <% for category in @categories do %>
        <% unless category.articles.empty? %>
        <div class="col-6 col-lg-3 p-0">
        <div style="<%= featured_img(category.articles.last.image_url) %>" class="categories-img-height background-img-setting position-relative">
            <span class="category-name position-absolute border-bottom border-3 border-warning text-white fw-bolder pb-1">
            <%= category.name %>
            </span>

            <span class="category-title position-absolute text-white"><%= category.articles.last.title%></span>
        </div>
        </div>
        <% end %>
    <% end %>

  </section>
</div>